{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
  	<div class="form-group">
		
		<center><h1>Envoyer un mail aux responsables tournois</h1></center>
		<br>
		<br>
		<div class="alert alert-danger">
			<center>
				Dans le champ "NOM", veuillez indiquer l'objet de votre message
			</center>
		</div>
	    
		<!-- Do not change the code! -->
		<center><a id="foxyform_embed_link_168694" href="http://fr.foxyform.com/">foxyform</a>
		<script type="text/javascript">
		(function(d, t){
		   var g = d.createElement(t),
		       s = d.getElementsByTagName(t)[0];
		   g.src = "http://fr.foxyform.com/js.php?id=168694&sec_hash=7768e3251b9&width=350px";
		   s.parentNode.insertBefore(g, s);
		}(document, "script"));
		</script></center>
		<!-- Do not change the code! -->
		</div>
	<div class="col-xs-4"></div>
	</div>
</div>
{%endblock%}