{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">
	<center><h1>Inscription Etape 1</h1></center>
	<img width="100%" src="{{ asset('bundles/app/images/etape1.png') }}" />
	<br><br><br>
	{% include "FOSUserBundle:Registration:register_content.html.twig" %}
  </div>
  <div class="col-xs-4">
  </div>
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
  <br>  <br>  <br>  <br>
{% endblock fos_user_content %}
